<div class="page">
  <div class="column">
    <div class="selectfile">
      <input type="file" accept=".json" (change)="uploadFile($event)" />
    </div>
    <sf-form class="form" [schema]="schema" (onChange)="onChange($event.value)"></sf-form>
    <!-- <json-schema-form [schema]="schema" framework="bootstrap-4" (onSubmit)="onChange($event)"></json-schema-form> -->
  </div>
  <div class="column column_result">
    <div class="result">
      <div class="result__title">Result:</div>
      <div class="result__save-button">
        <button class="download" [disabled]="!schema" (click)="download()">Download yaml file</button>
      </div>
    </div>
    <div class="yaml" [innerHTML]="yamlText"></div>
  </div>
</div>
