<div class="page">
  <div class="column">
    <div class="selectfile">
      <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="uploadFile($event)" #fileInput type="file" id="file" />
      <span class="file-name">{{ fileName }}</span>
    </div>
    <json-schema-form
      class="form"
      [loadExternalAssets]="true"
      [schema]="schema"
      framework="material-design"
      (isValid)="isValid($event)"
      (onChanges)="onChange($event)"
      (validationErrors)="validationErrors($event)"
    ></json-schema-form>
  </div>
  <div class="column column_result">
    <div class="result">
      <div class="result__title">Result:</div>
      <div class="result__save-button">
        <button mat-raised-button color="primary" class="download" [disabled]="!formIsValid" (click)="download()">
          Download yaml file
        </button>
      </div>
    </div>

    <div>
      Valid?:
      <strong
        *ngIf="formIsValid || prettyValidationErrors"
        [class.text-success]="formIsValid"
        [class.text-danger]="!formIsValid"
      >
        {{ formIsValid ? 'Yes' : 'No' }}
      </strong>
      <span *ngIf="!formIsValid && !prettyValidationErrors">n/a</span>
      <span *ngIf="prettyValidationErrors">— errors from validationErrors():</span>
      <div *ngIf="prettyValidationErrors" class="data-bad" [innerHTML]="prettyValidationErrors"></div>
    </div>

    <div class="yaml" [innerHTML]="yamlText"></div>
  </div>
</div>
