<div class="page">
  <div class="column">
    <div class="selectfile">
      <input type="file" accept=".json" (change)="uploadFile($event)" />
    </div>
    <json-schema-form
      [loadExternalAssets]="true"
      [schema]="schema"
      framework="material-design"
      (isValid)="isValid($event)"
      (onChanges)="onChange($event)"
      (validationErrors)="validationErrors($event)"
    ></json-schema-form>
  </div>
  <div class="column column_result">
    <div class="result">
      <div class="result__title">Result:</div>
      <div class="result__save-button">
        <button class="download" [disabled]="!formIsValid" (click)="download()">Download yaml file</button>
      </div>
    </div>

    <div>
      Valid?:
      <strong
        *ngIf="formIsValid || prettyValidationErrors"
        [class.text-success]="formIsValid"
        [class.text-danger]="!formIsValid"
      >
        {{ formIsValid ? 'Yes' : 'No' }}
      </strong>
      <span *ngIf="!formIsValid && !prettyValidationErrors">n/a</span>
      <span *ngIf="prettyValidationErrors">— errors from validationErrors():</span>
      <div *ngIf="prettyValidationErrors" class="data-bad" [innerHTML]="prettyValidationErrors"></div>
    </div>

    <div class="yaml" [innerHTML]="yamlText"></div>
  </div>
</div>
